<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- script type="text/javascript" src="happy-web-components-fastopt-loader.js"></script-->
  <script type="text/javascript" src="happy-web-components-fastopt.js"></script>
</body>
</html>
